#wrapperFooter{  
  background-color: #282C35;
    border-top: 1px solid #eee;
    padding: 0;
}

.footer{
    background-color:#282C35;  
    color:#cdcdcd;
    max-width:1160px;
    margin-left: auto;
    margin-right: auto;
  }

  .row-w1{
    width:62.5%
  }

  .footer-top{
    margin : 12px 0;
    font-size: 18px;
    font-weight: 700;
    color:#ADB0B6;
  }

  .logo--header{
    text-align: center;
    width: 60px;
    background-color:green;
    border-radius:4px;
    border:1px solid;
  }
  .footer_divider{
    border-top: 1px solid 3C3F46;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer_policy_links{
    display: flex;
    
  }

  .footer_horiz_list{
    list-style-type: none;
  }

  .footer .footer_horiz_list li{
    display:inline-block  ;
    padding: 10px 25px 10px 0;
  }

  .footer li a{
    font-size:14px;
  }
  
  .footer a{
    color: #cdcdcd;
    text-decoration:none
  }

  .footer_divider{
    border-top:1px solid #3C3F46;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer-bottom{
    line-height:20px;
    font-size:10px;
    padding:10px;
    border: none
  }

  .footer-bottom .footer-msg{
    color: #9a9a9a;
    opacity: .5;
  }

  .footer .social-container .social-icons{
    float: right;
    margin: 5px 10px;
    font-size: 16px;
    width: 27px;
    height: 28px;
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    color: #cdcdcd;
  }

  .social-container{
    float: left;
  }

  /**/
  .headerwrapper{
    background-color: #cb202d;
  }
  .header{
    background-color: #cb202d;
    height:62px;
    max-width:1160px;
    margin-left: auto;
    margin-right: auto;
  }

  .header_logo{
    display:inline-block;
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding:5px;
    clear:right;
    width:100px;
  }

  .headersearch{
    display: inline-block;
    width:780px;
    padding: 5px;
  }

  .locationsearch, .selectcriteria{
    width: 35%;
    margin-left: 2em;
    height: 2.5em;
    border-radius:0.5em;
  }

  #search{
    margin-left: 1em;
    background-color: #cb202d;
    border:1px solid #cdcdcd;    
    padding:10px;
    border-radius: 5px;
    color:#cdcdcd;
    font-size: 15px;
    cursor: pointer;
  }
  .accountlinks{
    display: inline-block;
  }

  .accountlinks ul li{
    display: inline-block;
    margin-left: 1em;
    color: #cdcdcd;
    font-size: 15px;
    padding: 5px;   
    cursor: pointer; 
  }

  .accountlinks ul li:last-child{
    border:none;
    border-radius: 5px;
    background-color: #ba1e2b;
    text-align: center;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 #e7e7e7 inset;
  }

  /**/
  .dashboardwrapper{
    background-color: whitesmoke;
  }
  .dashboard{
    max-width:1160px;
    margin-left: auto;
    margin-right: auto;     
    display:flex;   
  }
  .filters{
    border:1px solid #e7e7e7;    
    width: 20%;
    height:500px;
    display:flex;   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }

  .filter_box{
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    height: max-content;
    color:#33373D;
  }
  .cardsBox{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 550px;
    height:auto;
    display:flex;       
    border-radius: 5px;
    flex-direction: column;
    margin-right: 10px;
  }

  .sponsored_card{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height:fit-content;
    display:flex;       
    border-radius: 5px;
    background-color: whitesmoke ;
    flex-direction: column;
    
  }
 
  ._card{
    display: flex;    
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: 280px;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e7e7e7;
  }

  .card_header , .card_details, .card_infos{    
    width: auto;     
    display: flex;
    margin: 5px;    
  }

  .card_header{
    height: 50%;
    border-bottom: 1px solid #cdcdcd;
    flex-direction: row;
  }
  .card_details{
    height: 30%;
    
  }
  .card_infos{
    height: 20%;
    flex-direction: row;
  }

  .card_info{
    border-top: 1px solid #cdcdcd;
    width: 35%;
    display: flex;    
  }

 .card_infos > :nth-child(2){
    border-right:1px solid #cdcdcd;
    border-left:1px solid #cdcdcd;
  }

  .header_image{
    width:35%;
    border: 1px solid green;   
    text-align:center; 
    background: url('cb.jpg') no-repeat center center transparent;
    margin:5px;
    background-size: cover;
  }

  .header_subject{
    width: -webkit-fill-available;
    display:flex;
    flex-direction: column;
  }

  .header_image_logo{
      width: 135px;
      border-radius:5px;
      margin:5px;
  }

  .subject_row1{    
    width:auto;
    height: 60%;
    margin: 2px;
    display:flex;
    justify-content: space-between;    
  }

  .subject_row2{    
    width:auto;
    height: 35%;
    margin: 2px;
  }

  .subject_row_left{    
    width: 70%;
  }

  .subject_row_right{
    border: 1px solid;
    width: 30%;
  }

  .subject1{
    margin: unset;
    font-size: 15px;
    color: gray;
  }

  .subject2{
    margin: unset;    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #cb202d;
  }

  .subject3{
    margin: unset;
    font-weight: bold;
  }

  .subject_address{
    margin: unset;
    font-size: 15px;
    color: gray;
  }

  .subject_row_right{
    border: unset;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align:center;
  }
  .subject_ratings{
    
    color: black;
    background-color: green;
    border-radius: 8px;
    width: 30px;
    height: 25px;
    align-self: flex-end;
  }

  .subject_votes{
    color: gray;
    align-self: flex-end;
  }

  .card_details_info_key p{
    margin: unset;
    font-size: 12px;
    color: gray;
  }

  .card_details_info_value p{
    margin: unset;
    font-size: 12px;
    color: black;
  }

  .card_details_info_key{
    width:27%;
  }

  .data_icon{
    margin: auto;
    font-weight: bold;
  }

  .card_infos :nth-child(3){
    background-color: #099E44;
    color:white;
  }

  .popular_card{
    border: 1px solid #e7e7e7;
    width:48%;
    height: 220px;
    border-radius: 5px;
    margin:1px;
  }

  .popular_header{
    width: 100%;
    height: fit-content;
    text-align:center;
    font-size: 10px;
  }

  .PopularCard_box{
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .popular_card_img{
    height: 65%;
  }

  .popular_box_img{
    width:100%;
    height: 100%;
    background: url('sushi.jpg') no-repeat center center transparent;    
    text-align:center;      
    background-size: cover;    
    display:flex;
    align-items: flex-end;
  }

  .popular_box_rating{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 4px;
    text-align: center;
    margin:2px;
  }

  .popular_box_description{
    height: 30%;
  }

  .popular_box_description p{
    margin: unset;
  }

  .popular_box_description_1{
    font-size: 15px;
    padding: 2px;
  }

  .popular_box_description_2{
    font-size: 12px;
    color: gray;
    padding: 2px;
  }